* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
body{
	margin-left: 5%;
	margin-right: 5%;
}
.container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

/*-------------
    Header
--------------*/
.header {
	padding-top: 25px;
	padding-bottom: 3px;
}
ul.navigation {
	list-style-type: none;
	padding-top: 17px;
	text-align: right;
}
li.navigation {
	display: inline;
	margin-left: .5rem;
	margin-right: .5rem;
}

/*-------------------------
           Body
--------------------------*/
.body {
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
/*--------------------
Index (recent posts)
---------------------*/
.blog {
	margin-bottom: 2rem;
}

/*-------------
    Footer
--------------*/
.footer {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-top: 1rem;
	text-align: right;
	border-top: 1px solid;
}
ul.footer-list {
	list-style-type: none;
	display: inline;
	
}
li.footer-list {
	display: inline-block;
	margin-top: 1rem;
	margin-left: .5rem;
	margin-right: .5rem;
}